# Gemini API Key used by server-side CloriBot AI Chatbot
# GET YOUR API KEY FROM: https://aistudio.google.com/
# ðŸ‘‰ APNI GEMINI API KEY CO COPY KARKE NEECHE 'GEMINI_API_KEY=' KE AGEY PASTE KAREIN (Bina kisii quotes ya space ke)
# Example: GEMINI_API_KEY=AIzaSyALWzpiveot5UB...
GEMINI_API_KEY=AIzaSyALWzpiveot5UBYuNRTuzAs3jzILA0wiVM
